@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
}  

.container {
  width: 1350px;
  padding: 0 5px;
}
#header {
  background-color: #b35346;
}
.site-hero {
  background-image: url('../img/stark_home3-slide1-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -100px;
  height: 100vh;
  width: 100%;
}
.logo-div {
  padding-left: 5px;
}
.header-section {
  padding-top: 2px;
}
.list-header {
  list-style: none;
  margin-right: 35px;
}
.header-link {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.header-link::before {
  content: '';
  width: 5px;
  border-bottom: 2px solid #834037;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%,0);
  transition-property: border-bootom;
  transition: all 0.2s ease;
  opacity: 0;
}
.header-link:hover::before {
  opacity: 1;
  width: 100%;
}

.bx {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.bx:not(:last-child) {
  margin-right: 15px;
}
.bx-chevron-down {
  font-size: 18px;
}

.home {
  position: relative;
  padding: 35px 0;
}
.home:hover .home-drob-box{
  display: block;
}
.home-drob-box {
  width: 950px;
  height: 220px;
  background-color: #fff;
  position: absolute;
  left: -180px;
  top: 80px;
  display: none;
  z-index: 15;
}
.text-drob1 {
  position: absolute;
  left: 68px;
  bottom: 35px;
}
.text-drob2 {
  position: absolute;
  left: 220px;
  bottom: 35px;
}
.text-drob3 {
  position: absolute;
  left: 375px;
  bottom: 35px;
}
.text-drob4 {
  position: absolute;
  left: 530px;
  bottom: 35px;
}
.text-drob5 {
  position: absolute;
  left: 685px;
  bottom: 35px;
}
.text-drob6 {
  position: absolute;
  left: 838px;
  bottom: 35px;
}
.p-drob {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  color: #010;
  border-bottom: 1px solid #b35346;
}
.drob-img {
  transform: scale(1);
  transition: all 0.5s ease;
}
.drob-img:hover {
  transform: scale(1.03);
}
.drob-list {
  padding-top: 10px;
  list-style: none;
}
.home:hover .home-drob-box2 {
  display: block;
}
.home-drob-box2 {
  width: 850px;
  height: 380px;
  background-color: #fff;
  position: absolute;
  left: -250px;
  top: 80px;
  display: none;
  z-index: 15;
  overflow: hidden;
}
.menu-img-white {
  transition: all 0.2s ease;
  transform: scale(0.9);
}
.menu-img-white:hover {
  transform: scale(1);
}
.drob-list-main {
  padding-left: 30px;
  padding-top: 20px;
}

.home-drop2 {
  margin-right: 180px;
}
.drob-title {
  margin-bottom: 20px;
  position: relative;
  font-weight: 400;
}
.drob-title::before {
  content: '';
  width: 50px;
  border-bottom: 1px solid #834037;
  position: absolute;
  bottom: 0;
}
.drob-link2 {
  text-decoration: none;
  color: #010;
}
.drob-link2:hover {
  color: #b35346;
}
.drob-list2 {
  margin-bottom: 20px;
  list-style: square;
}
.h3 {
  list-style: none;
}

.home-drob-box3 {
  width: 900px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: -440px;
  top: 80px;
  display: none;
  z-index: 15;
}
.home:hover .home-drob-box3 {
  display: block;
}
.skeyle-div {
  width: 269px;
  height: 137px;
  border: 1px solid transparent;
  overflow: hidden;
}
.box32 {
  margin-bottom: 50px;
}
.desk1 {
  position: absolute;
  left: 100px;
  top: 165px;
}
.desk2 {
  position: absolute;
  left: 420px;
  top: 165px;
}
.desk3 {
  position: absolute;
  left: 710px;
  top: 165px;
}

.boots1 {
  position: absolute;
  left: 128px;
  bottom: 20px;
}
.boots2 {
  position: absolute;
  left: 410px;
  bottom: 20px;
}
.boots3 {
  position: absolute;
  left: 695px;
  bottom: 20px;
}


.modal-box {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 0;
  z-index: -6;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.show {
  transition: all 0.3s ease;
  height: 100vh;
  opacity: 1;
  z-index: 25;
}

.bx-x-circle {
  color: #000;
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 24px;
}
.modal-btn {
  position: absolute;
  right: 10px;
  top: 80px;
  border: none;
  background: none;
  cursor: pointer;
}
.modal-search {
  position: absolute;
  top: 15%;
  width: 30%;
  height: 40px;
  left: 33%;
  text-align: right;
  padding: 20px 0px;
  margin-bottom: 10px;
}

.modal-input {
  position: absolute;
  width: 100%;
  padding: 13px 20px;
  font-size: 34px;
  left: -420px;
  top: 100px;
  border: 1px solid #dadce5;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dadce5;
  width: 1340px;
}

.modal-input:focus {
  outline: none;
}

.modal-desc {
  position: absolute;
  left: -420px;
  font-size: 24px;
  color: #161f38;
}

.modal-list-box {
  position: absolute;
  width: 33%;
  top: 40%;
  left: 33%;
  text-align: left;
  padding: 20px 0px;
  margin-bottom: 10px;
}

.modal-list {
  list-style-type: none;
  width: 100%;
}

.modal-item {
  margin: 8px 8px;
}

.modal-text {
  font-size: 18px;
  color: #161f38;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.modal-link {
  text-decoration: none;
  font-size: .875rem;
  font-weight: 600;
  line-height: 28px;
  padding: 5px 15px;
  border-radius: 15px;
  background: #0057ff;
  color: #fff;
  margin: 0 8px 8px 0;
}



.user-box {
  opacity: 0;
  position: fixed;
  width: 0px;
  height: 0px;
  z-index: -6;
  right: 0;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}
.user {
  transition: all 0.3s ease;
  height: 100vh;
  opacity: 1;
  width: 330px;
  z-index: 25;
}

.user-x {
  position: relative;
  right: 260px;
  top: -50px;
  font-size: 40px;
  color: rgb(97, 97, 97);
  background-color: rgba(175, 175, 175, 0.863);
  border-radius: 50%;
}
.registor {
  position: absolute;
  top: 100px;
}
.modal-user {
  position: relative;
  left: 30px;
  white-space: nowrap;
}
.modal-user::after {
  content: '';
  border-right: 1px solid rgba(128, 128, 128, 0.623);
  height: 28px;
  bottom: -5px;
  position: absolute;
  right: -55px;

}
.modal-regis {
  position: absolute;
  right: -220px;
}
.user-input {
  position: absolute;
  top: 150px;
  padding: 15px;
  width: 280px;
  border: 1px solid rgba(128, 128, 128, 0.479);
}
.user-input:focus {
  outline: none;
}
.user-input:hover {
  border: 1px solid #0055ffa1;
}
.pasword {
  position: absolute;
  top: 225px;
  padding: 15px;
  width: 280px;
  border: 1px solid rgba(128, 128, 128, 0.479);
}

.pasword:focus {
  outline: none;
}
.pasword:hover {
  border: 1px solid #0055ffa1;
}
.button {
  position: absolute;
  top: 295px;
  padding: 15px 111px;
  background-color: #222222;
  color: #d8d8d8;
  border: transparent;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(209, 159, 32)
}
.main-sing-up {
  position: relative;
  top: 260px;
}
.foget {
  position: absolute;
  left: -45px;
  opacity: 0.7;
  cursor: pointer;
}
.foget:hover {
  color: rgb(209, 159, 32);
}
.compare {
  position: absolute;
  left: -20px;
  top: 30px;
  cursor: pointer;
}
.compare:hover {
  color: rgb(209, 159, 32);
}
.compare::before {
  content: '';
  width: 280px;
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  bottom: -15px;
  left: -25px;
}
.compare::after {
  content: '';
  width: 280px;
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  bottom: -155px;
  left: -25px;
}
.bxs-chevrons-down {
  position: absolute;
  left: -25px;
  color: #c4c4c4;
  transform: rotate(40deg);
  font-size: 18px;
}
.heart {
  position: absolute;
  top: 75px;
  left: -20px;
  cursor: pointer;
}
.heart:hover {
  color: rgb(209, 159, 32);
}
.heart::before {
  content: '';
  width: 280px;
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  bottom: -15px;
  left: -25px;
}
.heart::after {
  content: '';
  width: 280px;
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  bottom: -60px;
  left: -25px;
}
.bxs-heart {
  color: #000;
  font-size: 20px;
  position: absolute;
  left: -25px; 
}

.sel-op {
  position: absolute;
  top: 120px;
  left: -45px;
  border: transparent;
  width: 280px;
  cursor: pointer;
}
.sel-op:hover {
  color: rgb(209, 159, 32);
}
.sel-op:focus {
  outline: none;
}
.num-monay {
  position: absolute;
  top: 170px;
  left: -45px;
  border: transparent;
  width: 280px;
  cursor: pointer;
}
.num-monay:hover {
  color: rgb(209, 159, 32);
}
.num-monay {
  outline: none;
}
.hero-inner {
  position: relative;
  left: 480px;
  top: 150px;
  animation: text 2s ease both;
  animation-delay: 1s;
  overflow: hidden;
  white-space: nowrap;
}



@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}


.hero-text {
  color: #fff;
  font-size: 13px;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 115px;
  position: relative;
  right: -23px;
}

.hero-title {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 72px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: 500;
  position: relative;
  right: -20px;
}


.hero-btn {
  position: relative;
  bottom: -180px;
  left: 10px;
  color: #000;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 10px;
  z-index: 1;
  cursor: pointer;
}





.main-section {
  margin-top: -80px;
}
.content1 {
  background-color: #f0e8d2;
  width: 449.6px;
  height: 282px;
  overflow: hidden;
}

.clock {
  text-transform: uppercase;
  color: #a5a39c;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 13px;
  margin-bottom: 20px;
}

.minimal-cloc {
  padding-top: 30px;
  padding-left: 25px;
}
.minimal-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px; 
  font-weight: 500;
  margin-bottom: 40px;
}
.now {
  font-weight: 600;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
}
.now::before {
  position: absolute;
  content: '';
  width: 110px;
  border-bottom: 4px solid rgb(209, 159, 32);
  bottom: -10px;
} 
.img-clock {
  position: relative;
  top: -200px;
  right: -250px;
  width: 40.3%;
  transform: scale(1);
  transition: all 1s ease;
} 
.img {
  transition: all 1s ease;
}
.content1:hover .img {
  transform: translateX(10px);
}
.content1:hover .img-clock {
  transform: scale(1.1);
}
.content2 {
  background-color: #f9f9f9;
  width: 449.6px;
  height: 282px;
  overflow: hidden;
}
.scnr3 {
  position: relative;
  width: 50.3%;
  object-fit: cover;
  top: -248px;
  right: -210px;
}
.content2 {
  background-color: #f9f9f9;
}
.content2:hover .img {
  transform: translateX(10px);
}
.content2:hover .img-clock {
  transform: scale(1.05);
}
.content3 {
  background-color: #D0F1ED;
  width: 449.6px;
  height: 282px;
  overflow: hidden;
}
.la3af {
  position: relative;
  width: 33.3%;
  object-fit: cover;
  top: -280px;
  right: -190px;
}
.content3 {
  background-color: #D0F1ED;
}
.content3:hover .img {
  transform: translateX(10px);
}
.content3:hover .img-clock {
  transform: scale(1.05);
}



.modal__bag__shoop {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 250;
  background: rgba(0, 0, 0, 0.562);
  opacity: 0;
  z-index: -10;
  transition: all 0.5s ease;
}

.modal__bag__shop-item {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 820px;
  height: 420px;
  background: #fff;
  transition: all 0.5s ease;
}

.mod_bag_shop-header {
  padding: 15px;
  background: #333333;
  color: #fff;
}

.modal__bag-menuu {
  padding: 15px;
}

.mod_bag_ls-text-box {
  width: 515px;
  padding-top: 20px;
}

.mod_bag_shop-header-text {
  font-size: 18px;
  color: #fff;
  font-family: sans-serif;
}

.bx-check {
  font-size: 22px;
  font-weight: 900;
}

.mod_bag-shop-close-btn {
  font-size: 24px;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
}

.madal__bag-list-img {
  margin-right: 15px;
}

.mod_bag_ls--text {
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  color: #626262;
}

.mod_bag_ls--text:hover {
  color: #d88f0f;
}

.mod_bag_ls-text {
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  color: #626262;
  padding-bottom: 16px;
}

.m-b-l-tt {
  margin-bottom: 50px;
}

.mod__bag-ls-btn-one {
  width: 100%;
  text-decoration: none;
  font-style: 16px;
  padding: 16px 160px;
  background: #f11d22;
  color: #fff;
  font-family: sans-serif;
  transition: all 0.3s ease;
}

.mod__bag-ls-btn-one:hover {
  background: #b40e11;
  transition: all 0.3s ease;
}

.mod__bag-ls-btn-two {
  width: 100%;
  text-decoration: none;
  font-style: 16px;
  padding: 16px 165px;
  color: #414141;
  font-family: sans-serif;
  background-color: rgba(135, 135, 135, .25);
  border-color: rgba(0, 0, 0, 0);
}

.mod-show-bag-shop {
  position: fixed;
  transition: all 0.6s ease;
  opacity: 1;
  z-index: 250;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-heart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -10;
  opacity: 0;
  text-align: center;
}

.text-box {
  width: 600px;
  height: 50px;
  margin: auto;
  margin-top: 450px;
  background: #fff;
  color: #000;
  font-size: 15px;
  font-family: sans-serif;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.heart__span {
  font-size: 16px;
  font-weight: 700;
}

.heart__text {
  text-decoration: none;
  color: #000;

}

.heart__span:hover {
  color: #d88f0f;
}

.heart-show-close {
  font-size: 22px;
  color: #000;
  border: none;
  background: transparent;
}



.heart_show {
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 200;
}


/* HERO PARTS  */


.hero__box {
  position: relative;
  width: 540px;
  height: 350px;
  background: transparent;
  margin: 0 auto;
  margin-top: 250px;
  color: #fff;
  text-align: center;
}

.hero__tit {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 20px;
  z-index: 50;
}

.hero__title {
  position: relative;
  font-size: 90px;
  line-height: 90px;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 60px;
  z-index: 50;
}

.hero__btn {
  font-weight: 700;
  text-decoration: none;
  opacity: 1;
  padding: 15px 35px;
  font-size: 16px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-family: "Barlow Condensed";
  line-height: 15px;
}

.hero__anim-span {
  position: absolute;
  top: 0;
  right: 0;
  width: 540px;
  height: 130px;
  background: #B35346;
  box-shadow: -25px 0px 39px 13px #B35346;
  z-index: 60;
  animation: anim__hero-tit 2s 1s;
  animation-fill-mode: both;
}

@keyframes anim__hero-tit {
  100% {
    right: 0;
    width: 0;
  }
}

.main__discover {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.discover__menu {
  list-style-type: none;
  overflow: hidden;
}

.discover__list {
  position: relative;
  width: 634px;
  height: 400px;
  overflow: hidden;
}

.descover__img {
  position: absolute;
  width: 634px;
  height: 400px;
  top: 0;
  left: 0;
  transition: all 0.8s ease;
}

.discover__list:hover .descover__img {
  transform: scale(1.09);
  transition: all 0.8s ease;
}

.discover__link {
  text-decoration: none;
}

.discover__tit {
  position: relative;
  top: 90px;
  left: 65px;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #888;
}

.discover__title {
  position: relative;
  top: 100px;
  left: 65px;
  width: 50px;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
  color: #222;
}

.discover__text {
  position: relative;
  top: 120px;
  left: 65px;
  width: 93px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  padding: 3px 0;
  border-bottom: 3px solid #d88f0f;
  text-transform: uppercase;
  color: #222;
  cursor: pointer;
}




.shoop__item {
  margin-bottom: 50px;
}

.main__shoop__box {
  width: 100%;
  height: auto;
}

.shoop__titles {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.shoop__title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 0;
  margin: 0 25px;
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid transparent;
  color: rgba(34, 34, 34, 0.644);
}

.shop-tit-activ {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 0;
  margin: 0 25px;
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid transparent;
  color: rgba(34, 34, 34, 0.644);
  color: #222;
  border-bottom: 3px solid #d88f0f;
}

.shoop__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid #d88f0f;
  transition: all 0.3s ease;
}

.shoop__title:hover::after {
  width: 100%;
  transition: all 0.3s ease;
}

.shoop__title:hover {
  color: #222;
}

.shoop__menus {
  padding-top: 20px;
  list-style-type: none;
}

.shoop__list {
  position: relative;
  width: 320px;
  /* width: 20%; */
  height: 495px;
  margin: 5px 0;
  cursor: pointer;
}

.shoop__link {
  text-decoration: none;
  position: relative;
}

.shoop__img-box {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/25-home_default/hummingbird-printed-t-shirt.jpg');
  width: 320px;
  /* width: 100%; */
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  transition: all 0.5s ease;
  text-decoration: none;
}

.shoop__list:hover .shoop__img-box {
  position: relative;
  top: 0;
  left: 0;
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/24-home_default/hummingbird-printed-t-shirt.jpg');
  width: 320px;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  transition: all 0.5s ease;
}

.shop-img-2 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/27-home_default/brown-bear-printed-sweater.jpg');
}

.shoop__list:hover .shop-img-2 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/28-home_default/brown-bear-printed-sweater.jpg');
}

.shop-img-3 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/30-home_default/the-best-is-yet-to-come-framed-poster.jpg');
}

.shoop__list:hover .shop-img-3 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/31-home_default/the-best-is-yet-to-come-framed-poster.jpg');
}

.shop-img-4 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/33-home_default/the-adventure-begins-framed-poster.jpg');
}

.shoop__list:hover .shop-img-4 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/34-home_default/the-adventure-begins-framed-poster.jpg');
}

.shop-img-5 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/36-home_default/today-is-a-good-day-framed-poster.jpg');
}

.shoop__list:hover .shop-img-5 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/37-home_default/today-is-a-good-day-framed-poster.jpg');
}

.shop-img-6 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/41-home_default/mug-the-best-is-yet-to-come.jpg');
}

.shoop__list:hover .shop-img-6 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/42-home_default/mug-the-best-is-yet-to-come.jpg');
}

.shop-img-7 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/43-home_default/mug-the-adventure-begins.jpg');
}

.shoop__list:hover .shop-img-7 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/44-home_default/mug-the-adventure-begins.jpg');
}

.shop-img-8 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/46-home_default/mug-today-is-a-good-day.jpg');
}

.shoop__list:hover .shop-img-8 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/45-home_default/mug-today-is-a-good-day.jpg');
}

.shop-img-9 {
  background-image: url('	https://rubiktheme.com/demo/rb_stark_demo/53-home_default/mountain-fox-cushion.jpg');
}

.shoop__list:hover .shop-img-9 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/54-home_default/mountain-fox-cushion.jpg');
}

.shop-img-10 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/57-home_default/brown-bear-cushion.jpg');
}

.shoop__list:hover .shop-img-10 {
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/56-home_default/brown-bear-cushion.jpg');
}

.shoop__icons__img-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 380px;
}

.shop__img-icon {
  position: absolute;
  bottom: 38px;
  left: 63px;
  width: 60px;
  height: 50px;
  background: #000;
  padding: 13px 0px 15px 0px;
  color: #fff;
  font-size: 26px;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.5s ease;
  border: none;
  z-index: 100;
}

.sh-i-ic-2 {
  bottom: 40px;
  left: 133px;
  transition: all 0.7s ease;
}

.sh-i-ic-3 {
  bottom: 43px;
  left: 203px;
  transition: all 0.9s ease;
}

.shop__img-icon:hover {
  background: #d88f0f;
  cursor: pointer;
}

.shoop__list:hover .shop__img-icon {
  opacity: 1;
  transition: all 0.3s ease;
  bottom: 20px;
}

.shoop__list:hover .sh-i-ic-2 {
  opacity: 1;
  transition: all 0.7s ease;
  bottom: 20px;
}

.shoop__list:hover .sh-i-ic-3 {
  opacity: 1;
  transition: all 0.9s ease;
  bottom: 20px;
}

.shoop__link-text{
  text-decoration: none;
}

.shoop__link-tit {
  position: absolute;
  font-family: sans-serif;
  top: 10px;
  left: 20px;
  width: 125px;
  z-index: 110;
  padding-right: 6px;
  margin: 2px 0;
  color: #fff;
  background: #2fb5d2;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}

.shoop__link-text:hover {
  color: #d88f0f;
}

.shoop__link-span {
  background: red;
  margin-right: 6px;
  padding: 4px 5px;
  padding-bottom: 4.5px;
  padding-left: 7px;
}

.shop-text-star {
  position: relative;
  width: 320px;
  padding-top: 20px;
}

.shoop__link-text {
  color: #222;
  font-size: 17px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
  overflow: hidden;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.shoop__links-star-icon {
  position: absolute;
  right: 0;
  top: 25px;
  color: #f0cc00;
}
.yellow {
  color: #f0cc00;
  font-size: 10px;
}
.grey {
  font-size: 10px;
  color: #D8D8D8;
}

.shop-link-texttt {
  width: 85px;
  padding: 0 6px;
  margin: 2px 0;
  color: #fff;
  background: #2fb5d2;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}

.shop-link_text-tit {
  color: #B1B1B1;
  font-weight: 600;
}

.shoop__bb-box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  text-align: center;
}

.shoop__link-btn {
  background: transparent;
  border: 1px solid #999;
  clear: both;
  height: 60px;
  width: 280px;
  line-height: 60px;
  text-transform: uppercase;
  padding: 20px 95px;
  margin: 20px 0 100px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #222;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 32px;
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.shoop__link-btn:hover {
  background: #d88f0f;
  color: #fff;
  transition: all 0.3s ease;
  border: none;
}


.blogs__container {
  max-width: 1400px;
  margin: 0 auto;
}

.blogs__item {
  padding: 50px 0;
}

.blogs__title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 20px;
}

.blogs__text {
  text-align: center;
  color: #666;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  margin-bottom: 50px;
}

.blogs__img-tit-text-box {
  text-decoration: none;
}

.blogs__list {
  width: 445px;
  height: 520px;
  overflow: hidden;
}

.blogs__menus {
  list-style-type: none;
}

.blogs__img-tit {
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0 20px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: #222;
}

.blogs__img-tit:hover {
  color: #d88f0f;
}

.blogs__img-tit-two {
  font-size: 15px;
  font-family: sans-serif;
  color: #666666;
  margin-bottom: 20px;
}

.blogs__img-tit-two:hover {
  color: #d88f0f;
}

.blogs__img-text {
  font-size: 15px;
  font-family: sans-serif;
  color: #666666;
  margin-bottom: 20px;
}

.blogs__img-link {
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  color: #666666;
  display: inline-block;
  padding-bottom: 3px;
  font-size: 16px;
  border-bottom: 1px solid;
}

.blogs__img-link:hover {
  color: #d88f0f;
}

.blogs__bot-link {
  text-align: center;
  padding: 15px 40px;
}

.blogs__link_b_box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

}

.blogs__bot-link:hover {
  background: #000;
  color: #fff;
  /* border-bottom: 1px solid; */
}

.blogs__img-box {
  width: 445px;
  height: 320px;
  overflow: hidden;
  transition: all 0.8s ease;
}

.blogs__list .blogs__img{
  transition: all 0.8s ease;
}
.blogs__list:hover .blogs__img{
  transform: scale(1.1) rotate(4deg);
  transition: all 0.8s ease;
}

.logos__box {
  background: #f7f7f7;
  padding: 20px 0;
}

.logos__container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.logos__menu {
  list-style-type: none;
  width: 3000px;
  height: 120px;
  overflow: hidden;
}

.logos__list {
  width: 200px;
  height: 120px;
  margin: 0 48px;
  animation: logos__list 15s 3s infinite alternate;
}

@keyframes logos__list {
  25% {
    transform: translate3d(-600px, 0px, 0);
    animation-delay: 3s;
  }

  50% {
    transform: translate3d(-1500px, 0px, 0);
    animation-delay: 3s;
  }

  100% {
    transform: translate3d(0px, 0, 0);
  }

}

.footer-inner {
  background: #23282E;
  color: #fff;
  padding-top: 100px;
}

.footer-link-logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer-form-box {
  margin-bottom: 40px;
}

.footer-form {
  width: 720px;
  height: 55px;
  background: #fff;
  margin: 0 auto;
  color: #000;
}

.form-title {
  display: inline-block;
  padding: 0 30px;
  margin-right: 10px;
  line-height: 55px;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  position: relative;
}

.form-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 2px;
  height: 40px;
  background: rgb(224, 224, 224);
}

.icons-color {
  color: #000;
}
.form-input {
  border: 1px solid #FFF;
  color: #999;
  background-color: #FFF;
  height: 50px;
  border-radius: 0;
  outline: none;
  font-family: sans-serif;
  font-size: 14px;
  width: 376px;
  padding: 0 12px;
  margin-right: auto;
}

.form-button {
  width: 170px;
  height: 55px;
  line-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sans-serif;
  background: rgb(0, 0, 0);
  border: none;
  color: #FFF;
  padding: 0 20px;
  transition: all 0.4s ease;
}

.form-button:hover {
  background: #d88f0f;
  color: #FFF;
  transition: all 0.4s ease;
}


.footer-icon{
  width: 250px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  margin-bottom: 120px;
}
.foooter-icons-link {
  margin: 0 10px;
}

.foooter-icons-link {
  width: 20px;
  height: 25px;
  background: #fff;
  color: #000;
  font-size: 24px;
  padding: 5px 2px 0 3px;
  border-radius: 5px;
}

.footer-links-menu {
  width: 460px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  margin-bottom: 60px;
}

.footer--links-list {
  padding: 0 15px;
}

.footer-links {
  text-align: center;
}

.footer-links-text {
  text-decoration: none;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFF;
  text-transform: uppercase;
}

.footer-links-text:hover {
  color: #d88f0f;
}

.footer-text-img {
  border-top: 1px solid rgb(102, 101, 101);
  padding: 30px 0;
}

.footer-tex-logos-item{
  width: 1300px;
  margin: 0 auto;
}

.footer-p {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
}





.messeng__open__btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: rgb(10, 124, 255);
  border-radius: 50%;
  border: none;
  z-index: 500;
  cursor: pointer;
}

.bxl-messenger {
  font-size: 53px;
  color: #fff;
  padding-top: 4px;
  padding-left: 1px;
}

.messeng {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 0px;
  height: 0px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  transition-timing-function: ease-in;
  overflow: hidden;
  z-index: -15;
  opacity: 0;
  transition: all 0.3s ease;
}

.messeng__item {
  padding: 32px 24px;

}

.messeng__header__logo__btns {
  margin-bottom: 24px;
}

.mess__header__btn {
  background: #F5F5F5;
  border-radius: 50%;
  color: #333;
  font-size: 30px;
  border: none;
  padding: 4px 4px 0 4px;
  cursor: pointer;
}

.messeng__title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 24px;
  margin: 23px 0 0 0;
  word-break: break-all;
}

.messeng__tit {
  color: rgba(0, 0, 0, .5);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin: 4px 0 0 0;
  margin-bottom: 16px;
  font-family: sans-serif;
}

.mes-titit {
  color: rgba(0, 0, 0, 0.753);
  margin-bottom: 25px;
}

.messeng__main__btn {
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif;
  outline: none;
  padding: 15px 65px 15px 70px;
  background-color: rgb(10, 124, 255);
  text-align: center;
  margin-bottom: 15px;
}

.mass-mian-btn-one:hover {
  background-color: rgb(9, 94, 190);
}

.mes-main-btnp-icon {
  font-size: 25px;
  margin-right: 5px;
  text-align: center;
}

.mass-mian-btn-two {
  background-color: rgba(0, 0, 0, .05);
  padding: 17px 90px 17px 85px;
  color: #000;
  margin-bottom: 20px;
}

.messeng__text {
  color: rgba(0, 0, 0, 0.596);
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  font-family: sans-serif;
}

.open__messeng {
  opacity: 1;
  width: 375px;
  height: 437px;
  z-index: 400;
  transition: all 0.2s ease;
}

.heart-show-close {
  background-color: #000;
  color: #000;
}